body{font-family:helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;color:#605E5E;font-size:14px}
.site-header{position:relative;left:0;right:0;top:0;z-index:2; -webkit-box-shadow:0 1px 10px 0 rgba(0,0,0,0.3);box-shadow:0 1px 10px 0 rgba(0,0,0,0.3);}
.site-header .navbar{padding:0;margin-right:0}
.inner-site-header{position:relative;-webkit-box-shadow:0 1px 10px 0 rgba(0,0,0,0.3);box-shadow:0 1px 10px 0 rgba(0,0,0,0.3)}
.navbar-nav{font-size:20px;font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif}
.navbar-brand img{width:121px; height:121px;}
.navbar-light .navbar-nav .nav-link{color:#000}
.navbar-expand-lg .navbar-nav .nav-link{padding-top:0;padding-bottom:0}
.navbar-light .navbar-nav .nav-link:hover,.navbar-light .navbar-nav .nav-link.active{color:#F7C33E}
.navbar-light .navbar-collapse .close-btn{display:none}
.navbar-nav .nav-item{position:relative;padding-bottom:10px}
.navbar-nav .nav-item:hover .sub-menu{display:block}
.inner-site-header .sub-menu{background-color:#fff;-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.15);box-shadow:0 5px 10px rgba(0,0,0,0.15);}
.inner-site-header .sub-menu li+li{border-top:1px solid rgba(96,94,94,0.15)}
.sub-menu{list-style:none inside none;padding:5px 0;position:absolute;display:none;width:150px;top:100%;font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif; background-color:#fff;-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.15);box-shadow:0 5px 10px rgba(0,0,0,0.15);}
.sub-menu li a{font-size:14px;color:#605E5E;line-height:22px;display:block;padding:8px 20px}
.sub-menu li a:hover{text-decoration:none;color:#000}
.hero-banner{position:relative;height:89vh;background-color:#eeedf0;z-index:1;overflow: hidden;}
.hero-banner iframe,.hero-banner video{position:absolute;top:0;left:0;right:0}
.hero-banner video{padding:0;margin:0;object-fit:cover;width:100%;height:100%}
.hero-banner .container{position: static;;z-index:10}
.hero-banner h1{font-size:46px;color:#F7C33E;font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;}
.hero-banner p{color:#605E5E;font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;}
.hero-banner .banner-down-arrow{text-align:center;position:absolute;left:50%;bottom:50px;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);transform:translateX(-50%)}
.hero-banner .banner-down-arrow a{display:block;}
.hero-banner .banner-down-arrow a .hover{display:none}
.hero-banner .banner-down-arrow a:hover .normal{display:none}
.hero-banner .banner-down-arrow a:hover .hover{display:inline-block}
.section-title{font-size:46px;text-transform:uppercase;color:#605E5E;text-align:center;font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;}
.sapceTB100{padding-top:50px;padding-bottom:50px}
.consulting-content{padding-top:10px}
.heading{font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;font-size:30px;text-transform:uppercase;color:#F7C33E}
.consulting-content p,.workshop-level p,.about-maker p{font-size:16px;font-family:helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;max-width:760px;margin:0 auto}
.video-frame{padding-top:20px;padding-bottom:30px}
.video-frame iframe{width:100%;margin:0 auto;display:block}
.video-frame img{display:block;margin:0 auto;width:auto}
.earth-video.brain-video{overflow:hidden;}
.earth-video.brain-video video{margin:-70px auto -90px}
.workshop-level{margin-top:20px}
.workshop-level h4{color:#000;font-size:24px;text-transform:uppercase;margin-bottom:20px;font-family:helvetica-w01-light,helvetica-w02-light,sans-serif;font-weight:400}
.workshop-level h4 span{color:#F7C33E}
.workshop-level h4 a{color:#000;position:relative;-webkit-transition:all .3s ease;transition:all .3s ease}
.workshop-level h4 a:hover{text-decoration:none}
.workshop-level h4 a:after{content:"";width:0;height:2px;background:#000;position:absolute;bottom:-5px;left:0;z-index:-1;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease}
.workshop-level h4 a:hover:after{width:100%}
.workshop-level p{font-size:14px;line-height:20px;padding-right:30px}
.workshop-video{padding-top:30px;padding-bottom:0}
.goldenBg{background-color:#F7C33E}
.about-maker figure{border-bottom:6px solid rgba(96,94,94,1);margin-bottom:0;margin-right:0px;text-align:center;padding:50px 0}
.about-maker h5{font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;font-size:24px;text-transform:uppercase;margin:0;padding:30px 0}
.about-maker p{font-size:14px;line-height:22px;padding-right:30px;margin-bottom:0}
.contact-details{font-family:'Helvetica',Arial,sans-serif;line-height:24px}
.contact-details h2{text-align:left;font-size:50px;line-height:50px;margin-bottom:35px}
.contact-details a{color:#605E5E}
.contact-details a:hover{color:#F7C33E;text-decoration:none}
.contact-links a{background-image:url(../images/envelope.png);background-position:left 6px;background-repeat:no-repeat;padding-left:25px;margin-bottom:5px;display:inline-block}
.contact-number{margin-top:25px}
.contact-number a{background-image:url(../images/call-answer.png);background-position:left 0px;background-repeat:no-repeat;padding-left:25px}
.contact-details .form-group{margin-bottom:20px}
.form-control{border-color:rgba(96,94,94,0.15);height:42px;border-radius:3px;font-size:16px}
.form-control:focus{box-shadow:none;border-color:rgba(96,94,94,0.35)}
.form-control::-webkit-input-placeholder{color:rgba(96,94,94,0.50)}
.form-control:-ms-input-placeholder{color:rgba(96,94,94,0.50)}
.form-control::placeholder{color:rgba(96,94,94,0.50)}
textarea.form-control{height:90px;resize:none}
.btn-warning{border-color:#F7C33E;background-color:#F7C33E;min-width:120px;border-radius:3px;height:42px;font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;line-height:42px;padding:0 .75rem;letter-spacing:.02rem}
.btn-warning:hover,btn-warning:active,.btn-warning:not(:disabled):not(.disabled).active,.btn-warning:not(:disabled):not(.disabled):active,.show>.btn-warning.dropdown-toggle{border-color:#605E5E;background-color:#605E5E;color:#fff}
.btn-warning:focus{box-shadow:none}
.site-footer{font-family:helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;font-size:14px}
.spaceTB50{padding:50px 0}
.site-footer h2{font-size:16px;font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;border-top:6px solid #605E5E;padding-top:20px;padding-bottom:20px;margin-bottom:0;text-transform:uppercase}
.site-footer ul{list-style:none inside none;padding:0;margin:0}
.site-footer ul li{line-height:24px}
.site-footer ul li a,.site-footer .social-link a{color:#605E5E}
.site-footer ul li a:hover,.site-footer .social-link a:hover{color:#000;text-decoration:none}
.site-footer .social-link a{display:inline-block;font-size:24px;margin-left:12px}
.site-footer .copyright{text-align:center;padding:15px 0;margin:0;font-size:14px;letter-spacing:.02rem;font-family:helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif}
.scrollup{background-color:#F7C33E;width:40px;height:40px;position:fixed;bottom:105px;right:15px;display:none;border-radius:5px;z-index:50;line-height:40px;text-align:center;color:#000;font-size:26px}
.scrollup:hover{background-color:#605E5E;color:#fff}
.navbar-light .navbar-toggler{font-size:32px;border:none;padding:0;color:#F7C33E;position:relative}
.navbar-light .navbar-toggler:focus{box-shadow:none;outline:none}
.vertical-scroll{position:fixed;right:15px;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%)}
.vertical-scroll .navbar-nav{flex-direction:column}
.vertical-scroll .navbar-nav .nav-item{width:12px;height:12px;margin-bottom:10px}
.vertical-scroll .navbar-nav .nav-link{display:block;border:1px solid #605E5E;width:12px;height:12px;padding:0!important;border-radius:20px}
.vertical-scroll .navbar-nav .nav-link.active{background-color:#605E5E}
.static-content{padding:100px 0}
.static-content h2,.fromation-style h2{font-size:26px;font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif}
.static-content h3,.fromation-style h3{font-size:24px;font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif}
.static-content h4,.fromation-style h4{font-size:20px;font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif}
.static-content h5,.fromation-style h5{font-size:18px;font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif}
.static-content h6,.fromation-style h6{font-size:16px;font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif}
.static-content p,.content-style-frame p,.blockquote,.question,.question-option{font-size:14px;line-height:20px;letter-spacing:.02rem;font-family:helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif}
.static-content p:last-child,.content-style-frame p:last-child{margin-bottom:0}
.static-content ul,.static-content ol,.fromation-style ul,.fromation-style ol{padding-left:17px;font-size:14px;line-height:22px;margin:0 0 1rem}
.fromation-style{padding:80px 0}
.fromation-style h1,.page-title{font-size:40px;font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;text-transform:uppercase}
.fromation-style h1 spna,.page-title span{color:#F7C33E}
.sub-heading{font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;font-size:16px;color:#605E5E;letter-spacing:.04rem;margin-top:-8px}
.spaceTB30{padding-top:1rem;padding-bottom:1rem}
.fromation-style ul{padding-left:0;list-style:none}
.blockquote{border-left:5px solid #d3d3d3;font-size:14px;line-height:24px;letter-spacing:.02rem;font-style:italic;padding:45px 0 15px 20px;position:relative;background-image:url(../images/quote.svg);background-position:20px top;background-repeat:no-repeat;margin-top:1rem}
.btn-frame{margin-top:25px}
.fromation-style ul.point-list{margin-left:-15px;margin-right:-15px}
.point-list li{padding-bottom:25px;font-size:24px;font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;letter-spacing:.02rem;display:flex;align-items:center}
.point-list li span.image-frame{vertical-align:middle;margin-right:20px;display:inline-block;width:44px;height:44px}
.point-list li img{display:block;margin:0 auto;width:auto}
.point-list li span{display:inline-block;vertical-align:middle}
.graphic-frame{width:420px;height:210px;border:1px solid rgba(96,94,94,0.15);background-color:#fbfbfb}
.question{font-size:18px;padding-bottom:10px;position:relative;padding:5px 0 10px 38px}
.question span{font-size:26px;padding-right:5px;position:absolute;left:0;top:0;line-height:26px}
.question-option{padding-left:38px}
.question-option .custom-control{padding-right:30px;display:inline-block;padding-bottom:10px}
.question-btn-frame{padding-top:30px}
.padding-bottom35{padding-bottom:35px}
.questionnaire-article+.questionnaire-article{padding-top:15px}
.marTop35{margin-top:35px}
.game-input{max-width:360px;margin:0 auto;text-align:center}
.bid-frame{-webkit-box-shadow:0 0 5px 0 rgba(0,0,0,0.15);box-shadow:0 0 5px 0 rgba(0,0,0,0.15);min-height:232px;border-radius:5px;padding:12px;font-family:helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;}
.bid-frame h6{margin:0;font-family:'Helvetica-Narrow-Bold',Arial,sans-serif}
.bid-frame .row{margin-left:-6px;margin-right:-6px}
.bid-frame .row .col-6{padding-left:6px;padding-right:6px}
.padTop8{padding-top:8px}
.bid-box{padding:8px 0 0;text-align:center;font-size:14px;letter-spacing:.02rem}
.bid-frame .form-control{height:32px;text-align:center;font-size:13px;border-color:rgba(96,94,94,0.25);border-radius:2px}
.bid-frame .total{background-color:#e4e4e4;width:100%;font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;font-size:14px}
.form-control:disabled,.form-control[readonly]{background-color:#afaeaf;border-color:#afaeaf}
.width860{max-width:860px;margin:35px auto 0}
.padTop35{padding-top:45px}
.bid-result-table .table thead th{border-top:none}
.bid-result-table .table tbody tr:last-child td{border-bottom:1px solid #dee2e6;background-color:#eee}
.error{color:red}
.earth-video{max-width:560px;margin: 0 auto}
.nago-video video{width:100%}
.overflow-h{overflow: hidden;}
  #mask { 
    position: absolute; 
    left: 0;  
    top: 0; 
    z-index: 9000;  
    background-color: #000; 
    display: none;  
  }
  
    #boxes .window {  
    position: absolute; 
    left: 0;  
    top: 0; 
    width: 440px; 
    height: 200px;  
    display: none;  
    z-index: 9999;  
    padding: 20px;  
    border-radius: 15px;  
    text-align: center; 
  }
  
    #boxes #dialog {  
    width: 750px; 
    height: 300px;  
    padding: 59px;  
    background-color: #ffffff;  
    font-family: 'Segoe UI Light', sans-serif;  
    font-size: 22px;  
    text-align:left;  
    top: 25%; 
    left: 22%;  
  }
  
    #popupfoot {  
    font-size: 16pt;  
    position: absolute; 
    bottom: 19px; 
    width: 250px; 
    left: 40%;  
  } 
  

@media (min-width: 575px) {
  .video-frame iframe{width:560px}
}
@media (min-width: 767px) {
  .hero-banner h1{font-size:62px;line-height:70px}
  .hero-banner p{font-size:24px}
  .nago-video video{-moz-transform:scale(1.5);-webkit-transform:scale(1.5);-o-transform:scale(1.5);-ms-transform:scale(1.5);transform:scale(1.5);}
}
@media (min-width: 992px) {
  .hero-banner h1{font-size:83px;line-height:90px}
  .navbar-expand-lg .navbar-nav .nav-link{padding-right:10px;padding-left:10px}
  .section-title{font-size:106px;line-height:106px;letter-spacing:-.02em}
}
@media(min-width:1200px) {
  .container{max-width:960px}
}
@media(min-width:2200px) {
  .container {max-width: 1140px}
  .hero-banner h1{font-size: 100px;line-height: 106px}
  .hero-banner p {font-size: 34px}
}
@media(max-width:991px) {
  .navbar-light .navbar-toggler{right:5px}
  .navbar-light .collapse.show .navbar-toggler{position:absolute;top:50px}
  .navbar-light .navbar-toggler.collapsed{position:absolute}
  .navbar-collapse{position:fixed;top:0;bottom:0;width:240px;background-color:#2f2e2e;padding:20px;right:0;-webkit-transform:translateX(240px);-moz-transform:translateX(240px);transform:translateX(240px);-webkit-transition:all .15s ease-in-out;-moz-transition:all .15s ease-in-out;transition:all .15s ease-in-out;z-index:1}
  .navbar-collapse.show{-webkit-transform:translateX(0px);-moz-transform:translateX(0px);transform:translateX(0px)}
  .navbar-collapse ul{padding-top:120px}
  .navbar-collapse ul li{border-bottom:1px solid #fff;font-size:16px;letter-spacing:.05rem;padding:10px 0;font-family:'Helvetica',Arial,sans-serif}
  .navbar-light .navbar-collapse ul li:last-child{border-bottom:none}
  .navbar-light .navbar-collapse .nav-link{color:#fff}
  .navbar-light .navbar-collapse .close-btn{border-bottom:0;position:absolute;top:0;right:15px;font-size:22px;display:block}
  .navbar-light .navbar-collapse .close-btn a{color:#fff}
  .navbar-collapse ul.sub-menu{padding:0;position:relative;background-color:transparent;display:block;width:auto;box-shadow:none;margin:0 15px; top:0;}
  .navbar-collapse ul.sub-menu li{padding:0}
  .navbar-collapse ul.sub-menu li a{padding:8px 0;color:#fff}
  .navbar-collapse ul.sub-menu li a:hover{color:#F7C33E}
}
@media(max-width:767px) {
  .hero-banner,.services-content,.about-maker,.contact-details h2,.contact-links,.contact-number,.site-footer .logo{text-align:center}
  .hero-banner p{font-size:16px}
  .get-in-touch{margin-top:50px}
  .graphic-frame{width:100%}
  .fromation-style ul.point-list{width:100%}
  .btn-warning{margin:0 auto;display:block}
  .btn-frame .btn-warning{display:inline-block}
  .site-footer .logo{margin-bottom:50px}
  .about-maker figure{margin-right: 0;}
  .overflow-h video{margin: -50px auto}
  .navbar-brand img{width:auto; height:80px;}
}
@media(max-width:575px) {
  .navbar-toggler{margin-right:15px}
  .site-footer{text-align:center}
  .site-footer .logo{margin-bottom:0}
  .site-footer h2{margin-top:20px}
}
@media(max-width:480px) {
  .video-frame img{width:100%}
  .fromation-style h1,.page-title{font-size:34px}
  .question{font-size:16px}
  .question-option{font-size:14px}
  .custom-control-label::before,.custom-control-label::after{top:1px}
  .point-list li{font-size:18px}
  .point-list li span.image-frame{width:24px;height:24px;margin-right:12px}
  .point-list li img{width:100%}
  .point-list li img.sand-timer{width:auto;height:100%;}
  .nago-video video{-moz-transform:scale(1.25);-webkit-transform:scale(1.25);-o-transform:scale(1.25);-ms-transform:scale(1.25);transform:scale(1.25);}
}
@font-face {
  font-family: "Helvetica-W01-Bold";
  src: url("../fonts/f70da45a-a05c-490c-ad62-7db4894b012a.eot#iefix");
  src: url("../fonts/f70da45a-a05c-490c-ad62-7db4894b012a.eot#iefix") format("eot"),url("../fonts//c5749443-93da-4592-b794-42f28d62ef72.woff") format("woff"),url("../fonts/73805f15-38e4-4fb7-8a08-d56bf29b483b.ttf") format("truetype"),url("../fonts/874bbc4a-0091-49f0-93ef-ea4e69c3cc7a.svg#874bbc4a-0091-49f0-93ef-ea4e69c3cc7a") format("svg");
}
@font-face {
  font-family: "Helvetica-W01-Light";
  src: url("../fonts/717f8140-20c9-4892-9815-38b48f14ce2b.eot?#iefix");
  src: url("../fonts/717f8140-20c9-4892-9815-38b48f14ce2b.eot?#iefix") format("eot"),url("../fonts/03805817-4611-4dbc-8c65-0f73031c3973.woff") format("woff"),url("../fonts/d5f9f72d-afb7-4c57-8348-b4bdac42edbb.ttf") format("truetype"),url("../fonts/05ad458f-263b-413f-b054-6001a987ff3e.svg#05ad458f-263b-413f-b054-6001a987ff3e") format("svg");
}

@font-face {
  font-family: "Helvetica-W02-Bold";
  src: url("../fonts/8c0d8b0f-d7d6-4a72-a418-c2373e4cbf27.eot?#iefix");
  src: url("../fonts/8c0d8b0f-d7d6-4a72-a418-c2373e4cbf27.eot?#iefix") format("eot"),url("../fonts/192dac76-a6d9-413d-bb74-22308f2e0cc5.woff") format("woff"),url("../fonts/47584448-98c4-436c-89b9-8d6fbeb2a776.ttf") format("truetype"),url("../fonts/375c70e5-6822-492b-8408-7cd350440af7.svg#375c70e5-6822-492b-8408-7cd350440af7") format("svg");
}
@font-face {
  font-family: "Helvetica-LT-W10-Bold";
  src: url("../fonts/9fe262dc-5a55-4d75-91a4-aed76bd32190.eot?#iefix");
  src: url("../fonts/9fe262dc-5a55-4d75-91a4-aed76bd32190.eot?#iefix") format("eot"),url("../fonts/0a3939d0-3833-4db3-8b85-f64c2b3350d2.woff") format("woff"),url("../fonts/1b128d6d-126f-4c9c-8f87-3e7d30a1671c.ttf") format("truetype"),url("../fonts/b791c850-fde1-48b3-adf0-8998d55b0866.svg#b791c850-fde1-48b3-adf0-8998d55b0866") format("svg");
}
@font-face {
  font-family: "Helvetica-W01-Roman";
  src: url("../fonts/ea95b44a-eab7-4bd1-861c-e73535e7f652.eot?#iefix");
  src: url("../fonts/ea95b44a-eab7-4bd1-861c-e73535e7f652.eot?#iefix") format("eot"),url("../fonts/4021a3b9-f782-438b-aeb4-c008109a8b64.woff") format("woff"),url("../fonts/669f79ed-002c-4ff6-965c-9da453968504.ttf") format("truetype"),url("../fonts/d17bc040-9e8b-4397-8356-8153f4a64edf.svg#d17bc040-9e8b-4397-8356-8153f4a64edf") format("svg");
}
@font-face {
  font-family: "Helvetica-W02-Roman";
  src: url("../fonts/e4bd4516-4480-43df-aa6e-4e9b9029f53e.eot?#iefix");
  src: url("../fonts/e4bd4516-4480-43df-aa6e-4e9b9029f53e.eot?#iefix") format("eot"),url("../fonts/b56b944e-bbe0-4450-a241-de2125d3e682.woff") format("woff"),url("../fonts/7da02f05-ae8b-43a1-aeb9-83b3c0527c06.ttf") format("truetype"),url("../fonts/66cac56e-d017-4544-9d0c-f7d978f0c5c2.svg#66cac56e-d017-4544-9d0c-f7d978f0c5c2") format("svg");
}
@font-face {
  font-family: "Helvetica-LT-W10-Roman";
  src: url("../fonts/686a6a06-e711-4bd2-b393-8504a497bb3c.eot?#iefix");
  src: url("../fonts/686a6a06-e711-4bd2-b393-8504a497bb3c.eot?#iefix") format("eot"),url("../fonts/6f8d1983-4d34-4fa4-9110-988f6c495757.woff") format("woff"),url("../fonts/7903ee3f-e9ab-4bdc-b7d2-d232de2da580.ttf") format("truetype"),url("../fonts/9c58e9ea-fdea-4b9c-b0f9-0a2157389ed0.svg#9c58e9ea-fdea-4b9c-b0f9-0a2157389ed0") format("svg");
}
@font-face {
  font-family: "Helvetica-W02-Light";
  src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/ff80873b-6ac3-44f7-b029-1b4111beac76.eot?#iefix");
  src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/ff80873b-6ac3-44f7-b029-1b4111beac76.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/80c34ad2-27c2-4d99-90fa-985fd64ab81a.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/b8cb02c2-5b58-48d8-9501-8d02869154c2.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/92c941ea-2b06-4b72-9165-17476d424d6c.svg#92c941ea-2b06-4b72-9165-17476d424d6c") format("svg");
}
.font_2 {font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif; color:#605E5E;} 
.font_8 {font-family:helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif; color:#605E5E;}